@media only screen and (min-width: 66em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    section {
        margin: 1rem auto;
    }

    section:nth-child(3){
        grid-column: span 1;
    }
}
